{% extends "base.html" %}
{% block title %}{{ title|default:"Department" }}{% endblock %}

{% block content %}
<div class="stack">
  <div>
    <h1 class="page-title">{{ title|default:"Department" }}</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
        {% for err in field.errors %}<div class="muted">{{ err }}</div>{% endfor %}
      </div>
    {% endfor %}
    <div class="inline-actions">
      <button type="submit">{{ submit_label|default:"Save" }}</button>
    </div>
  </form>
</div>

{% endblock %}
